<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Game</title> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/web3.min.js"></script>
    <script src="./process.js"></script>

</head>
<body>
    <img id="btn_Connect_MM" src="https://user-images.githubusercontent.com/35871990/52588870-8147e000-2e0b-11e9-8f5e-903fd83aec15.png"/>
    <h3 id="address"></h3>
    <h3>Random: <span id="random"></span></h3>
    <h3>Hash: <span id="hash"></span></h3>
</body>
</html>